fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.43

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-jose[cryptography]==3.5.0
python-multipart==0.0.20
python-dotenv==1.1.1
requests==2.32.5
pydantic==2.11.7
email-validator==2.3.0

# AI
groq==0.31.0
google-generativeai==0.8.5

# Email
jinja2==3.1.6
resend==2.0.0

# Database
psycopg2-binary==2.9.10

# Knowledge Base / RAG
supabase==2.15.2
pypdf2==3.0.1
python-docx==1.1.2
pillow==11.2.1
pytesseract==0.3.13
slowapi
